* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  font-weight: 100;
}

body {
  min-height: 100vh;
  margin: 0 15px;
  position: relative;


  &:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('./bg2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}


.weather-forecast-app {
  height: 100%;
  margin: 0 auto;
  position: relative;
}